/* Global styles */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

header, main, footer {
    width: 100%;
    height: auto;
}

header, main {
    background-color: #FFF;
}

header {
    position: sticky;
    top: 0;
    overflow: hidden;
    flex-shrink: 0;
    text-transform: uppercase;
    font-size: 1.4em;
}

header .nav-menu {
    z-index: 100;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
}

main {
    flex: 1 0 auto;
    line-height: 1;
}

footer {
    flex-shrink: 0;
    background-color: #245;
    color: #ccc;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 1em;
}

div {
    display: block;
}

.maintenance-main {
    z-index: 1;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    letter-spacing: normal;
}