/* Global styles */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@supports(padding: max(0px)) {
    header, footer {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
}

@media only screen and (orientation: portrait) {
    main { width: 95%; }
}

@media only screen and (orientation: landscape) {
    main { width: 90%; }    /* Shrink a little more to avoid the notch. */
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

header, main, footer {
    width: 100%;
    height: auto;
}

header, main {
    background-color: #FFF;
}

header {
    z-index: 100;
    position: sticky;
    top: 0;
    flex-shrink: 0;
    text-transform: uppercase;
    font-size: 1.4em;
}

header .menu-container {
    overflow: hidden;
    justify-content: space-between;
}

.menu-container {
    display: flex;
}

main {
    z-index: 50;
    flex: 1 0 auto;
    line-height: 1;
}

footer {
    flex-shrink: 0;
    background-color: #245;
    color: #ccc;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 1em;
}

div {
    display: block;
}

h1 {
    text-transform: uppercase;
}

#maintenance-main {
    z-index: 1;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    letter-spacing: normal;
}